@media (max-width: 431px) {
    .outer-screen{
        height: 93vh;
    }

    .s1{
        width: 20%;
        right: 15vw;
        top: -2%;
    }

    .s2{
        width: 30%;
        right: -4vw;
        top: 6vh;
    }

    .s3{
        width: 35%;
        right: -3vw;
        top: 24vh;
    }

    .s4{
        width: 15%;
        right: 13vw;
        top: 42vh;
    }

    .upper-part{
        height: 55%;
    }

    .lower-part{
        height: 45%;
    }

    .nickname{
        font-size: 5vw;
    }

    .days{
        font-size: 5vw;
    }

    #total-days{
        font-size: 5vw;
    }

    .msg{
        display: block;
        font-size: 4vw;
    }

    .msg2{
        display: none;
    }

}

@media (min-width: 376px) and (max-width: 431px){

    .s1{
        width: 23%;
    }

    .s4{
        width: 20%;
    }

    .nickname{
        font-size: 6vw;
        margin-top: 6vh;
    }

    .days{
        font-size: 6vw;
    }

    #total-days{
        font-size: 6vw;
    }

    .msg{
        font-size: 5vw;
        margin-top: 6vh;
    }

    .msg2{
        display: none;
    }

}


