@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: red; */
    font-size: large;
}

.outer-screen{
    width: 100%;
    height: 100vh;
    background-image: url(imgs/babe_n_me.jpg);
    background-size: 30%;
    background-position: center;
    background-position-x: 15%;
    display: flex;
    align-items: center;
}

.upper-part{
    width: 40.5%;
    height: 100%;
    background-color: #9e2551f4;
    font-family: "Poppins";
    color: white;
    padding-left: 5vw;
    padding-top: 8%;
}

.nickname{
    font-size: 2.5vw;
}

.date{
    font-family: "Bebas Neue";
    font-weight: 100;
    font-size: 7vw;
}

.days{
    margin-top: 3vw;
    font-size: 2.5vw;
}

#total-days{
    font-size: 2.5vw;
    color: yellow;
    font-weight: 600;

}

.msg{
    display: none;
    }
    
.msg2{
    margin-top: 2vw;
    font-size: 1.7vw;
    width: 60%;
}

.lower-part{
   display: none;
}







